.text-blue {
    color: $blue;
}

.text-white {
    color: $white;
}

.text-orange {
    color: $orange;
}

.content1 {
    font-weight: 600;
    font-size: 18px;
}

.content2 {
    font-weight: 300;
    font-size: 18px;
}

.content3 {
    font-weight: 500;
    font-size: 18px;
}

.content4 {
    font-weight: 300;
    font-size: 16px;
}

.support {
    font-weight: 400;
    font-size: 14px;
}